
data/
logs/

VanillaVAE/version_0/

__pycache__/
.ipynb_checkpoints/

Run.ipynb
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/vae.iml
/.idea/vcs.xml
